 *{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../123.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 5px solid transparent;
	transition: 0.6s ease;
}

ul li a:hover{
	background-color: yellow;
	color: black;
}

ul li.active a{
	background-color: yellow;
	color: #000;
}
.buttons{
	text-align: left;
}
.logo img{
	float: left;
	width: 150px;
	height: auto;
}

.main{
	max-width: 1200px;
	margin: auto;
}
.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.title h1{
	color: yellow;
	font-size: 80px;
	font-style: italic;
}
.title p{
	color: lightyellow;
	font-size: 35px;
	font-style: italic;
}

.button{
	position: absolute;
	top: 62%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.title button{
	background-color: yellow;
	padding: 10px;
	color: black;
	cursor: pointer;
	background-color: yellow;
	text-decoration: none;
	transition: 0.6s ease;
}

.title button:hover{
	background-color: yellow ;
	color: black;
	transform: scale(1.08);
}
.items img{
	width: 245;
	height: 240;
	object-fit: cover;
	cursor: pointer;
	transition: 0.2 ease;
}
.items img:hover{
	transform: scale(1.04);
}
.items button{
	padding: 5px;
	color: black;
	background-color: yellow;
}

.items button:hover{
	transform: scale(1.04);
}
.items button:hover{
	transform: scale(1.08);
}
.items h4{
	color: #fff;
	font-size: 15px;
	font-style: italic;
	padding: 5px;
	text-align: center;
}
.content img{
	width: 332;
	height: 300;
	object-fit: cover;
	cursor: pointer;
	transition: 0.2 ease;
}
.content{
	background-color: white;
}
.stylesheet h4{
	color: yellow;
	font-size: 25px;
	font-style: italic;
}
.stylesheet p{
	color: white;
	font-size: 18px;
	font-style: italic;
}
.stylesheet{
	background-color: transparent;
}
.item img{
	width: 1000;
	height: 300px;
	object-fit: cover;
	cursor: pointer;
	transition: 0.2 ease;
}
.item h4{
	color: yellow;
	font-size: 30px;
	font-style: italic;
}
.item p{
	color: white;
	font-size: 16px;
	font-style: italic;
	text-align: center;
}
.item{
	background-color: blue;
}
.sidebar{
			width: 200px;
			background-color: blue;
			padding: 20px;
		}